*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

a{
   text-decoration: none;
   color: black;
   font-weight: bold;
}
nav{
   background-color: #d0d0d0;
   height: 65px;
}

#menu{
   display: flex;
   list-style: none;
   gap: 20px;
   padding: 10px;
   margin-left: 100px;
   position: fixed;
   top: 0;
   left: 0;
   justify-content: center; /* Centraliza o menu horizontalmente */
   align-items: center;    /* Centraliza o texto verticalmente */
   box-sizing: border-box; /* Inclui a borda no tamanho total do elemento */
}

#menu li:hover {
   background-color: #757575;
   border-radius: 10px;
   height: 30px;
}

#menu-burger{
   visibility: hidden;
}

img{
   width: 40px;
   height: auto;
   border-radius: 50%;
   object-fit: cover;
   margin-top: 10px;
}

#menu a {
   display: block;
   padding: 15px;
   color: black;
   text-decoration: none;
}

#menu a:hover {
   background-color: #575757;
   color: white;
   border: 5px;
}

@media (max-width: 768px) {
   #menu{
      flex-direction: column;
      width: 100vw;
      /* visibility: hidden; */
   }

   #menu li {
      border-bottom: 1px solid #333; /* Linha entre os itens do menu */
   }

   img{
      margin-left: 20px;
   }

   #menu-burger{
      visibility: visible;
      margin-left: 15px;
   }

   #menu-burger:hover {
      background-color: #575757;
      color: white;
      border: 5px;
   }

   /* #nav{
      height: 278px;
   } */
}
