.dimension{
   width: 1920px;
   height: auto;
}


@media (orientation: landscape) {
   .dimension{
      width: auto;
      height: 80vw;
   }
}

@media (orientation: portrait) {
   .dimension{
      height: auto;
      width: 100vw;
   }
}
