.container_externo {
   display: flex;
   flex-direction: row;
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100px;
   border: dashed 1px black;
}

.first {
   background-color: #FF66C4;
}

.second {
   background-color: #FF5757;
}

.third {
   background-color: #8C52FF;
}