.container {
   display: flex;
   height: 100px;
   width: 600px;
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 1;
   width: 200px;
}

.first {
   background-color: #FF66C4;
}

.second {
   background-color: #FF5757;
}

.third {
   background-color: #8C52FF;
   flex-shrink: 0.2;
}

.four {
   background-color: #00ff66;
}